*{
    margin  : 0px;
    padding : 0px;
    overflow: hidden;
}

.gameScreen{
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background: black;
    align-items: center;
    justify-content: space-around;
}
header{
    display: flex;
    width : 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : white;
    justify-content: space-between
}

#title_box{
    font-size: 22px;
    flex: 1 ;
    padding:10px;
    margin-bottom: 20px;
}
#high_score_box{
    flex: 1 ;
}
.high_score_board{
    font-size: 22px;
    margin-bottom: 10px;
}
.score_board{
    font-size: 22px;
}
#score{
    align:center;
    color : white;
    font-size: 3rem;
}
#dice_box{
    display: flex;
    width: 40%;
    justify-content: center;
}
#dice_image{
    width: auto;
    height : 20vh;
    /* max-height: 100%; */
    max-width: 100%;

}
button{
    width : 25vw;
    height: 8vh;
    margin: 5vw;
    padding : 8px;
    /* border : solid grey; */
    /* border-radius: 5px; */
}